<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>host</key>
		<string>http://magento.ll/index.php/rest/</string>
		<key>v2</key>
		<dict>
			<key>GuestEndpoint</key>
			<dict>
				<key>ref</key>
				<string>https://devdocs.magento.com/redoc/2.3/guest-rest-api.html</string>
				<key>GiftRegistry</key>
				<dict>
					<key>desc</key>
					<string>Estimate shipping</string>
					<key>link</key>
					<string>/V1/guest-giftregistry/{cartId}/estimate-shipping-methods</string>
					<key>method</key>
					<string>post</string>
				</dict>
				<key>Integration</key>
				<dict>
					<key>Customer Token</key>
					<dict>
						<key>desc</key>
						<string>Create access token for admin given the customer credentials.</string>
						<key>link</key>
						<string>/V1/integration/customer/token</string>
						<key>method</key>
						<string>post</string>
					</dict>
					<key>Admin Token</key>
					<dict>
						<key>desc</key>
						<string>Create access token for admin given the admin credentials.</string>
						<key>link</key>
						<string>/V1/integration/admin/token</string>
						<key>method</key>
						<string>post</string>
					</dict>
				</dict>
				<key>ProductRenderInfo</key>
				<dict>
					<key>desc</key>
					<string>Collect and retrieve the list of product render info. This info contains raw prices and formatted prices, product name, stock status, store_id, etc.</string>
					<key>link</key>
					<string>/V1/products-render-info</string>
					<key>method</key>
					<string>get</string>
				</dict>
				<key>WorldpayGuestCarts</key>
				<dict>
					<key>desc</key>
					<string>Proxy handler for guest place order</string>
					<key>link</key>
					<string>/V1/worldpay-guest-carts/{cartId}/payment-information</string>
					<key>method</key>
					<string>post</string>
				</dict>
				<key>Search</key>
				<dict>
					<key>desc</key>
					<string>Make Full Text Search and return found Documents</string>
					<key>link</key>
					<string>/V1/search</string>
					<key>method</key>
					<string>get</string>
				</dict>
				<key>GuestCarts</key>
				<dict>
					<key>Get Cart Total with Shipping</key>
					<dict>
						<key>link</key>
						<string>/V1/guest-carts/{cartId}/totals-information</string>
						<key>method</key>
						<string>post</string>
					</dict>
					<key>Get Cart Total</key>
					<dict>
						<key>link</key>
						<string>/V1/guest-carts/{cartId}/totals</string>
						<key>method</key>
						<string>get</string>
					</dict>
					<key>Get Shipping Methods</key>
					<dict>
						<key>link</key>
						<string>/V1/guest-carts/{cartId}/shipping-methods</string>
						<key>method</key>
						<string>get</string>
					</dict>
					<key>Shipping Information</key>
					<dict>
						<key>link</key>
						<string>/V1/guest-carts/{cartId}/shipping-information</string>
						<key>method</key>
						<string>post</string>
					</dict>
					<key>Set Payment Information</key>
					<dict>
						<key>link</key>
						<string>/V1/guest-carts/{cartId}/set-payment-information</string>
						<key>method</key>
						<string>post</string>
					</dict>
					<key>Set Payment Cart</key>
					<dict>
						<key>link</key>
						<string>/V1/guest-carts/{cartId}/selected-payment-method</string>
						<key>method</key>
						<string>put</string>
					</dict>
					<key>Get Payment Cart</key>
					<dict>
						<key>link</key>
						<string>/V1/guest-carts/{cartId}/selected-payment-method</string>
						<key>method</key>
						<string>get</string>
					</dict>
					<key>Pickup Location Select</key>
					<dict>
						<key>link</key>
						<string>/V1/guest-carts/{cartId}/pickup-location/select</string>
						<key>method</key>
						<string>post</string>
					</dict>
					<key>Get Available Payment</key>
					<dict>
						<key>link</key>
						<string>/V1/guest-carts/{cartId}/payment-methods</string>
						<key>method</key>
						<string>get</string>
					</dict>
					<key>Get Payment</key>
					<dict>
						<key>link</key>
						<string>/V1/guest-carts/{cartId}/payment-information</string>
						<key>method</key>
						<string>get</string>
					</dict>
					<key>Set Payment</key>
					<dict>
						<key>link</key>
						<string>/V1/guest-carts/{cartId}/payment-information</string>
						<key>method</key>
						<string>post</string>
					</dict>
					<key>Order</key>
					<dict>
						<key>link</key>
						<string>/V1/guest-carts/{cartId}/order</string>
						<key>method</key>
						<string>put</string>
					</dict>
					<key>Order</key>
					<dict>
						<key>link</key>
						<string>/V1/guest-carts/{cartId}/order</string>
						<key>method</key>
						<string>put</string>
					</dict>
					<key>Add Update Item</key>
					<dict>
						<key>link</key>
						<string>/V1/guest-carts/{cartId}/items/{itemId}</string>
						<key>method</key>
						<string>put</string>
					</dict>
					<key>Add Update Items</key>
					<dict>
						<key>link</key>
						<string>/V1/guest-carts/{cartId}/items</string>
						<key>method</key>
						<string>post</string>
					</dict>
					<key>Items</key>
					<dict>
						<key>link</key>
						<string>/V1/guest-carts/{cartId}/items</string>
						<key>method</key>
						<string>get</string>
					</dict>
					<key>Set Gift Message</key>
					<dict>
						<key>link</key>
						<string>/V1/guest-carts/{cartId}/gift-message/{itemId}</string>
						<key>method</key>
						<string>post</string>
					</dict>
					<key>Get Gift Message</key>
					<dict>
						<key>link</key>
						<string>/V1/guest-carts/{cartId}/gift-message/{itemId}</string>
						<key>method</key>
						<string>get</string>
					</dict>
					<key>Add Gift Message</key>
					<dict>
						<key>link</key>
						<string>/V1/guest-carts/{cartId}/gift-message</string>
						<key>method</key>
						<string>post</string>
					</dict>
					<key>Gift Message</key>
					<dict>
						<key>link</key>
						<string>/V1/guest-carts/{cartId}/gift-message</string>
						<key>method</key>
						<string>get</string>
					</dict>
					<key>Estimate Shipping</key>
					<dict>
						<key>link</key>
						<string>/V1/guest-carts/{cartId}/estimate-shipping-methods</string>
						<key>method</key>
						<string>post</string>
					</dict>
					<key>Delivery Option</key>
					<dict>
						<key>link</key>
						<string>/V1/guest-carts/{cartId}/delivery-option</string>
						<key>method</key>
						<string>post</string>
					</dict>
					<key>Add Coupons</key>
					<dict>
						<key>link</key>
						<string>/V1/guest-carts/{cartId}/coupons/{couponCode}</string>
						<key>method</key>
						<string>put</string>
					</dict>
					<key>Coupons</key>
					<dict>
						<key>link</key>
						<string>/V1/guest-carts/{cartId}/coupons</string>
						<key>method</key>
						<string>get</string>
					</dict>
					<key>Delete Coupons</key>
					<dict>
						<key>method</key>
						<string>delete</string>
						<key>link</key>
						<string>/V1/guest-carts/{cartId}/coupons</string>
					</dict>
					<key>Collection Point Select</key>
					<dict>
						<key>link</key>
						<string>/V1/guest-carts/{cartId}/collection-point/select</string>
						<key>method</key>
						<string>post</string>
					</dict>
					<key>Collection Point Result</key>
					<dict>
						<key>method</key>
						<string>get</string>
						<key>link</key>
						<string>/V1/guest-carts/{cartId}/collection-point/search-result</string>
					</dict>
					<key>Delete Collection Point Search</key>
					<dict>
						<key>link</key>
						<string>/V1/guest-carts/{cartId}/collection-point/search-request</string>
						<key>method</key>
						<string>delete</string>
					</dict>
					<key>Collection Point Search</key>
					<dict>
						<key>link</key>
						<string>/V1/guest-carts/{cartId}/collection-point/search-request</string>
						<key>method</key>
						<string>put</string>
					</dict>
					<key>Collect Total</key>
					<dict>
						<key>link</key>
						<string>/V1/guest-carts/{cartId}/collect-totals</string>
						<key>method</key>
						<string>put</string>
					</dict>
					<key>Checkout Pickup Location</key>
					<dict>
						<key>link</key>
						<string>/V1/guest-carts/{cartId}/checkout-pickup-location/select</string>
						<key>method</key>
						<string>post</string>
					</dict>
					<key>Checkout Fields</key>
					<dict>
						<key>method</key>
						<string>post</string>
						<key>link</key>
						<string>/V1/guest-carts/{cartId}/checkout-fields</string>
					</dict>
					<key>Checkout Collection Point</key>
					<dict>
						<key>link</key>
						<string>/V1/guest-carts/{cartId}/checkout-collection-point/select</string>
						<key>method</key>
						<string>post</string>
					</dict>
					<key>Billing Address</key>
					<dict>
						<key>link</key>
						<string>/V1/guest-carts/{cartId}/billing-address</string>
						<key>method</key>
						<string>post</string>
					</dict>
					<key>Get Billing Address</key>
					<dict>
						<key>link</key>
						<string>/V1/guest-carts/{cartId}/billing-address</string>
						<key>method</key>
						<string>get</string>
					</dict>
					<key>GuestCart</key>
					<dict>
						<key>link</key>
						<string>/V1/guest-carts/{cartId}</string>
						<key>method</key>
						<string>get</string>
					</dict>
					<key>link</key>
					<string>/V1/guest-carts</string>
					<key>method</key>
					<string>post</string>
				</dict>
				<key>Directory</key>
				<dict>
					<key>Currency</key>
					<dict>
						<key>link</key>
						<string>/V1/directory/currency</string>
						<key>method</key>
						<string>get</string>
					</dict>
					<key>Country</key>
					<dict>
						<key>link</key>
						<string>/V1/directory/countries/{countryId}</string>
						<key>method</key>
						<string>get</string>
					</dict>
					<key>Countries</key>
					<dict>
						<key>method</key>
						<string>get</string>
						<key>link</key>
						<string>/V1/directory/countries</string>
					</dict>
				</dict>
				<key>Customers</key>
				<dict>
					<key>Reset Link Token</key>
					<dict>
						<key>desc</key>
						<string>Check if password reset token is valid.</string>
						<key>link</key>
						<string>/V1/customers/{customerId}/password/resetLinkToken/{resetPasswordLinkToken}</string>
						<key>method</key>
						<string>get</string>
					</dict>
					<key>Reset Password</key>
					<dict>
						<key>desc</key>
						<string>Reset customer password.</string>
						<key>link</key>
						<string>/V1/customers/resetPassword</string>
						<key>method</key>
						<string>post</string>
					</dict>
					<key>Password</key>
					<dict>
						<key>desc</key>
						<string>Send an email to the customer with a password reset link.</string>
						<key>link</key>
						<string>/V1/customers/password</string>
						<key>method</key>
						<string>put</string>
					</dict>
					<key>CheckEmailIsValid</key>
					<dict>
						<key>desc</key>
						<string>Check if given email is associated with a customer account in given website.</string>
						<key>link</key>
						<string>/V1/customers/isEmailAvailable</string>
						<key>method</key>
						<string>post</string>
					</dict>
					<key>Create Customer</key>
					<dict>
						<key>desc</key>
						<string>Create customer account. Perform necessary business operations like sending email.</string>
						<key>link</key>
						<string>/V1/customers</string>
						<key>method</key>
						<string>post</string>
					</dict>
				</dict>
				<key>Carts</key>
				<dict>
					<key>GuestCards</key>
					<dict>
						<key>Remove GiftCard</key>
						<dict>
							<key>desc</key>
							<string>Remove GiftCard Account entity.</string>
							<key>link</key>
							<string>/V1/carts/guest-carts/{cartId}/giftCards/{giftCardCode}</string>
							<key>method</key>
							<string>delete</string>
						</dict>
						<key>GiftCard</key>
						<dict>
							<key>desc</key>
							<string>Add gift card to the cart.</string>
							<key>link</key>
							<string>/V1/carts/guest-carts/{cartId}/giftCards</string>
							<key>method</key>
							<string>post</string>
						</dict>
						<key>CheckGiftCard</key>
						<dict>
							<key>desc</key>
							<string>Check gift card balance if added to the cart.</string>
							<key>link</key>
							<string>/V1/carts/guest-carts/{cartId}/checkGiftCard/{giftCardCode}</string>
							<key>method</key>
							<string>get</string>
						</dict>
					</dict>
				</dict>
				<key>Amazon</key>
				<dict>
					<key>OrderRef</key>
					<dict>
						<key>link</key>
						<string>/V1/amazon/order-ref</string>
						<key>method</key>
						<string>delete</string>
					</dict>
					<key>ShippingAddress</key>
					<dict>
						<key>link</key>
						<string>/V1/amazon-shipping-address/{amazonOrderReferenceId}</string>
						<key>method</key>
						<string>put</string>
					</dict>
					<key>BillingAddress</key>
					<dict>
						<key>link</key>
						<string>/V1/amazon-billing-address/{amazonOrderReferenceId}</string>
						<key>method</key>
						<string>put</string>
					</dict>
				</dict>
			</dict>
			<key>CustomerEndpoint</key>
			<dict>
				<key>rif</key>
				<string>https://devdocs.magento.com/redoc/2.3/customer-rest-api.html</string>
				<key>extends</key>
				<string>GuestEndpoint</string>
				<key>Carts</key>
				<dict>
					<key>Set Mine</key>
					<dict>
						<key>desc</key>
						<string>Save quote</string>
						<key>method</key>
						<string>put</string>
						<key>link</key>
						<string>/V1/carts/mine</string>
					</dict>
					<key>Get Mine</key>
					<dict>
						<key>desc</key>
						<string>Returns information for the cart for a specified customer.</string>
						<key>method</key>
						<string>get</string>
						<key>link</key>
						<string>/V1/carts/mine</string>
					</dict>
					<key>Set Mine Balance</key>
					<dict>
						<key>desc</key>
						<string>Apply store credit</string>
						<key>method</key>
						<string>post</string>
						<key>link</key>
						<string>/V1/carts/mine/balance/apply</string>
					</dict>
					<key>Mine check Gift Card</key>
					<dict>
						<key>desc</key>
						<string>Check gift card balance if applied to given cart.</string>
						<key>method</key>
						<string>get</string>
						<key>link</key>
						<string>/V1/carts/mine/checkGiftCard/{giftCardCode}</string>
					</dict>
					<key>Mine checkout collection point select</key>
					<dict>
						<key>desc</key>
						<string>Select a given collection point for checkout.</string>
						<key>method</key>
						<string>post</string>
						<key>link</key>
						<string>/V1/carts/mine/checkout-collection-point/select</string>
					</dict>
					<key>Mine checkout fields</key>
					<dict>
						<key>method</key>
						<string>post</string>
						<key>link</key>
						<string>/V1/carts/mine/checkout-fields</string>
					</dict>
					<key>Mine checkout pickup location select</key>
					<dict>
						<key>desc</key>
						<string>Select a given pickup location for checkout.</string>
						<key>method</key>
						<string>post</string>
						<key>link</key>
						<string>/V1/carts/mine/checkout-pickup-location/select</string>
					</dict>
					<key>Mine Collect Total</key>
					<dict>
						<key>desc</key>
						<string>Set shipping/billing methods and additional data for cart and collect totals.</string>
						<key>method</key>
						<string>put</string>
						<key>link</key>
						<string>/V1/carts/mine/collect-totals</string>
					</dict>
					<key>Mine Collect Point Search Request</key>
					<dict>
						<key>desc</key>
						<string>Save a customer's search for collection points.</string>
						<key>method</key>
						<string>put</string>
						<key>link</key>
						<string>/V1/carts/mine/collection-point/search-request</string>
					</dict>
					<key>Delete Mine Collect Point Search Request</key>
					<dict>
						<key>desc</key>
						<string>Delete a customer's search for collection points.</string>
						<key>method</key>
						<string>delete</string>
						<key>link</key>
						<string>/V1/carts/mine/collection-point/search-request</string>
					</dict>
					<key>Mine Collect Point Search Result</key>
					<dict>
						<key>desc</key>
						<string>Retrieve collection points matching the customer's search parameters.</string>
						<key>method</key>
						<string>get</string>
						<key>link</key>
						<string>/V1/carts/mine/collection-point/search-result</string>
					</dict>
					<key>Mine Collect Point Select</key>
					<dict>
						<key>method</key>
						<string>post</string>
						<key>link</key>
						<string>/V1/carts/mine/collection-point/select</string>
					</dict>
					<key>Mine Delivery Option</key>
					<dict>
						<key>desc</key>
						<string>Handle selected delivery option.</string>
						<key>method</key>
						<string>post</string>
						<key>link</key>
						<string>/V1/carts/mine/delivery-option</string>
					</dict>
					<key>Set Mine Payment Information</key>
					<dict>
						<key>desc</key>
						<string>Set payment information and place order for a specified cart.</string>
						<key>method</key>
						<string>post</string>
						<key>link</key>
						<string>/V1/carts/mine/payment-information</string>
					</dict>
					<key>Get Mine Payment Information</key>
					<dict>
						<key>desc</key>
						<string>Get payment information</string>
						<key>method</key>
						<string>get</string>
						<key>link</key>
						<string>/V1/carts/mine/payment-information</string>
					</dict>
					<key>Mine Pickup Location Select</key>
					<dict>
						<key>method</key>
						<string>post</string>
						<key>link</key>
						<string>/V1/carts/mine/pickup-location/select</string>
					</dict>
					<key>Mine Set Payment Information</key>
					<dict>
						<key>desc</key>
						<string>Set payment information for a specified cart.</string>
						<key>method</key>
						<string>post</string>
						<key>link</key>
						<string>/V1/carts/mine/set-payment-information</string>
					</dict>
				</dict>
				<key>Customer</key>
				<dict>
					<key>Activate</key>
					<dict>
						<key>desc</key>
						<string>Activate a customer account using a key that was sent in a confirmation email.</string>
						<key>method</key>
						<string>put</string>
						<key>link</key>
						<string>/V1/customers/me/activate</string>
					</dict>
					<key>Info</key>
					<dict>
						<key>desc</key>
						<string>Get customer information</string>
						<key>method</key>
						<string>get</string>
						<key>link</key>
						<string>/V1/customers/me</string>
					</dict>
					<key>Change Password</key>
					<dict>
						<key>desc</key>
						<string>Change customer password.</string>
						<key>method</key>
						<string>put</string>
						<key>link</key>
						<string>/V1/customers/me/password</string>
					</dict>
				</dict>
				<key>Negotiable Carts</key>
				<dict>
					<key>Get Negotiable Cart Billing Address</key>
					<dict>
						<key>desc</key>
						<string>Returns the billing address for a specified quote.</string>
						<key>method</key>
						<string>get</string>
						<key>link</key>
						<string>/V1/negotiable-carts/{cartId}/billing-address</string>
					</dict>
					<key>Set Negotiable Cart Billing Address</key>
					<dict>
						<key>desc</key>
						<string>Assigns a specified billing address to a specified cart.</string>
						<key>method</key>
						<string>post</string>
						<key>link</key>
						<string>/V1/negotiable-carts/{cartId}/billing-address</string>
					</dict>
					<key>Delete Negotiable Cart Coupons</key>
					<dict>
						<key>desc</key>
						<string>Deletes a coupon from a specified cart.</string>
						<key>method</key>
						<string>delete</string>
						<key>link</key>
						<string>/V1/negotiable-carts/{cartId}/coupons</string>
					</dict>
					<key>Negotiable Cart Add Coupons</key>
					<dict>
						<key>desc</key>
						<string>Adds a coupon by code to a specified cart.</string>
						<key>method</key>
						<string>put</string>
						<key>link</key>
						<string>/V1/negotiable-carts/{cartId}/coupons/{couponCode}</string>
					</dict>
					<key>Negotiable Cart Estimate Shipping</key>
					<dict>
						<key>desc</key>
						<string>Estimate shipping by address and return list of available shipping methods</string>
						<key>method</key>
						<string>post</string>
						<key>link</key>
						<string>/V1/negotiable-carts/{cartId}/estimate-shipping-methods</string>
					</dict>
					<key>Negotiable Cart Estimate Shipping by Address Id</key>
					<dict>
						<key>desc</key>
						<string>Estimate shipping</string>
						<key>method</key>
						<string>post</string>
						<key>link</key>
						<string>/V1/negotiable-carts/{cartId}/estimate-shipping-methods-by-address-id</string>
					</dict>
					<key>Negotiable Cart Gift Card</key>
					<dict>
						<key>method</key>
						<string>post</string>
						<key>link</key>
						<string>/V1/negotiable-carts/{cartId}/giftCards</string>
					</dict>
					<key>Negotiable Cart Delete Gift Card</key>
					<dict>
						<key>desc</key>
						<string>Remove GiftCard Account entity</string>
						<key>method</key>
						<string>delete</string>
						<key>link</key>
						<string>/V1/negotiable-carts/{cartId}/giftCards/{giftCardCode}</string>
					</dict>
					<key>Negotiable Cart Set Payment Information</key>
					<dict>
						<key>desc</key>
						<string>Set payment information and place order for a specified cart.</string>
						<key>method</key>
						<string>post</string>
						<key>link</key>
						<string>/V1/negotiable-carts/{cartId}/payment-information</string>
					</dict>
					<key>Negotiable Cart Get Payment Information</key>
					<dict>
						<key>desc</key>
						<string>Get payment information.</string>
						<key>method</key>
						<string>get</string>
						<key>link</key>
						<string>/V1/negotiable-carts/{cartId}/payment-information</string>
					</dict>
					<key>Negotiable Cart Set Payment Information for Cart</key>
					<dict>
						<key>desc</key>
						<string>Set payment information for a specified cart.</string>
						<key>method</key>
						<string>post</string>
						<key>link</key>
						<string>/V1/negotiable-carts/{cartId}/set-payment-information</string>
					</dict>
					<key>Negotiable Cart Set Shipping Information</key>
					<dict>
						<key>method</key>
						<string>post</string>
						<key>link</key>
						<string>/V1/negotiable-carts/{cartId}/shipping-information</string>
					</dict>
					<key>Negotiable Cart Totals</key>
					<dict>
						<key>desc</key>
						<string>Returns quote totals data for a specified cart.</string>
						<key>method</key>
						<string>get</string>
						<key>link</key>
						<string>/V1/negotiable-carts/{cartId}/totals</string>
					</dict>
				</dict>
				<key>Requisition Lists</key>
				<dict>
					<key>Set Requisition Lists</key>
					<dict>
						<key>desc</key>
						<string>Save Requisition List</string>
						<key>method</key>
						<string>post</string>
						<key>link</key>
						<string>/V1/requisition_lists</string>
					</dict>
				</dict>
				<key>Reward</key>
				<dict>
					<key>Use Reward</key>
					<dict>
						<key>desc</key>
						<string>Set reward points to quote</string>
						<key>method</key>
						<string>post</string>
						<key>link</key>
						<string>/V1/reward/mine/use-reward</string>
					</dict>
				</dict>
			</dict>
			<key>AdminEndpoint</key>
			<dict>
				<key>rif</key>
				<string>https://devdocs.magento.com/redoc/2.3/admin-rest-api.html</string>
			</dict>
			<key>Authentication </key>
			<dict>
				<key>Token Format</key>
				<string>Bearer {token}</string>
				<key>Get Admin Token</key>
				<dict>
					<key>link</key>
					<string>/V1/integration/admin/token</string>
					<key>method</key>
					<string>post</string>
				</dict>
				<key>Get Customer Token</key>
				<dict>
					<key>link</key>
					<string>/V1/integration/customer/token</string>
					<key>method</key>
					<string>post</string>
				</dict>
			</dict>
		</dict>
	</dict>
</plist>