<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>v2</key>
	<dict>
		<key>GitRegistry</key>
		<dict>
			<key>link</key>
			<string>/V1/guest-giftregistry/{cartId}/estimate-shipping-methods</string>
			<key>method</key>
			<string>post</string>
		</dict>
		<key>Integration</key>
		<dict>
			<key>Customer Token</key>
			<dict>
				<key>link</key>
				<string>/V1/integration/customer/token</string>
				<key>method</key>
				<string>post</string>
			</dict>
			<key>Admin Token</key>
			<dict>
				<key>link</key>
				<string>/V1/integration/admin/token</string>
				<key>method</key>
				<string>post</string>
			</dict>
		</dict>
		<key>ProductRenderInfo</key>
		<dict>
			<key>link</key>
			<string>/V1/products-render-info</string>
			<key>method</key>
			<string>get</string>
		</dict>
		<key>WorldpayGuestCarts</key>
		<dict>
			<key>link</key>
			<string>/V1/worldpay-guest-carts/{cartId}/payment-information</string>
			<key>method</key>
			<string>post</string>
		</dict>
		<key>Search</key>
		<dict>
			<key>link</key>
			<string>/V1/search</string>
			<key>method</key>
			<string>get</string>
		</dict>
		<key>GuestCarts</key>
		<dict>
			<key>Add Gift Message</key>
			<dict>
				<key>link</key>
				<string>/V1/guest-carts/{cartId}/gift-message</string>
				<key>method</key>
				<string>post</string>
			</dict>
			<key>Gift Message</key>
			<dict>
				<key>link</key>
				<string>/V1/guest-carts/{cartId}/gift-message</string>
				<key>method</key>
				<string>get</string>
			</dict>
			<key>Estimate Shipping</key>
			<dict>
				<key>link</key>
				<string>/V1/guest-carts/{cartId}/estimate-shipping-methods</string>
				<key>method</key>
				<string>post</string>
			</dict>
			<key>Delivery Option</key>
			<dict>
				<key>link</key>
				<string>/V1/guest-carts/{cartId}/delivery-option</string>
				<key>method</key>
				<string>post</string>
			</dict>
			<key>Add Coupons</key>
			<dict>
				<key>link</key>
				<string>/V1/guest-carts/{cartId}/coupons/{couponCode}</string>
				<key>method</key>
				<string>put</string>
			</dict>
			<key>Coupons</key>
			<dict>
				<key>link</key>
				<string>/V1/guest-carts/{cartId}/coupons</string>
				<key>method</key>
				<string>get</string>
			</dict>
			<key>Delete Coupons</key>
			<dict>
				<key>method</key>
				<string>delete</string>
				<key>link</key>
				<string>/V1/guest-carts/{cartId}/coupons</string>
			</dict>
			<key>Collection Point Select</key>
			<dict>
				<key>link</key>
				<string>/V1/guest-carts/{cartId}/collection-point/select</string>
				<key>method</key>
				<string>post</string>
			</dict>
			<key>Collection Point Result</key>
			<dict>
				<key>method</key>
				<string>get</string>
				<key>link</key>
				<string>/V1/guest-carts/{cartId}/collection-point/search-result</string>
			</dict>
			<key>Delete Collection Point Search</key>
			<dict>
				<key>link</key>
				<string>/V1/guest-carts/{cartId}/collection-point/search-request</string>
				<key>method</key>
				<string>delete</string>
			</dict>
			<key>Collection Point Search</key>
			<dict>
				<key>link</key>
				<string>/V1/guest-carts/{cartId}/collection-point/search-request</string>
				<key>method</key>
				<string>put</string>
			</dict>
			<key>Collect Total</key>
			<dict>
				<key>link</key>
				<string>/V1/guest-carts/{cartId}/collect-totals</string>
				<key>method</key>
				<string>put</string>
			</dict>
			<key>Checkout Pickup Location</key>
			<dict>
				<key>link</key>
				<string>/V1/guest-carts/{cartId}/checkout-pickup-location/select</string>
				<key>method</key>
				<string>post</string>
			</dict>
			<key>Checkout Fields</key>
			<dict>
				<key>method</key>
				<string>post</string>
				<key>link</key>
				<string>/V1/guest-carts/{cartId}/checkout-fields</string>
			</dict>
			<key>Checkout Collection Point</key>
			<dict>
				<key>link</key>
				<string>/V1/guest-carts/{cartId}/checkout-collection-point/select</string>
				<key>method</key>
				<string>post</string>
			</dict>
			<key>Billing Address</key>
			<dict>
				<key>link</key>
				<string>/V1/guest-carts/{cartId}/billing-address</string>
				<key>method</key>
				<string>post</string>
			</dict>
			<key>Get Billing Address</key>
			<dict>
				<key>link</key>
				<string>/V1/guest-carts/{cartId}/billing-address</string>
				<key>method</key>
				<string>get</string>
			</dict>
			<key>GuestCart</key>
			<dict>
				<key>link</key>
				<string>/V1/guest-carts/{cartId}</string>
				<key>method</key>
				<string>get</string>
			</dict>
			<key>link</key>
			<string>/V1/guest-carts</string>
			<key>method</key>
			<string>post</string>
		</dict>
		<key>Directory</key>
		<dict>
			<key>Currency</key>
			<dict>
				<key>link</key>
				<string>/V1/directory/currency</string>
				<key>method</key>
				<string>get</string>
			</dict>
			<key>Country</key>
			<dict>
				<key>link</key>
				<string>/V1/directory/countries/{countryId}</string>
				<key>method</key>
				<string>get</string>
			</dict>
			<key>Countries</key>
			<dict>
				<key>method</key>
				<string>get</string>
				<key>link</key>
				<string>/V1/directory/countries</string>
			</dict>
		</dict>
		<key>Customers</key>
		<dict>
			<key>Reset Link Token</key>
			<dict>
				<key>link</key>
				<string>/V1/customers/{customerId}/password/resetLinkToken/{resetPasswordLinkToken}</string>
				<key>method</key>
				<string>get</string>
			</dict>
			<key>Reset Password</key>
			<dict>
				<key>link</key>
				<string>/V1/customers/resetPassword</string>
				<key>method</key>
				<string>post</string>
			</dict>
			<key>Password</key>
			<dict>
				<key>link</key>
				<string>/V1/customers/password</string>
				<key>method</key>
				<string>put</string>
			</dict>
			<key>CheckEmailIsValid</key>
			<dict>
				<key>link</key>
				<string>/V1/customers/isEmailAvailable</string>
				<key>method</key>
				<string>post</string>
			</dict>
			<key>Create Customer</key>
			<dict>
				<key>link</key>
				<string>/V1/customers</string>
				<key>method</key>
				<string>post</string>
			</dict>
		</dict>
		<key>Carts</key>
		<dict>
			<key>GuestCards</key>
			<dict>
				<key>Remove GiftCard</key>
				<dict>
					<key>link</key>
					<string>/V1/carts/guest-carts/{cartId}/giftCards/{giftCardCode}</string>
					<key>method</key>
					<string>delete</string>
				</dict>
				<key>GiftCard</key>
				<dict>
					<key>link</key>
					<string>/V1/carts/guest-carts/{cartId}/giftCards</string>
					<key>method</key>
					<string>post</string>
				</dict>
				<key>CheckGiftCard</key>
				<dict>
					<key>link</key>
					<string>/V1/carts/guest-carts/{cartId}/checkGiftCard/{giftCardCode}</string>
					<key>method</key>
					<string>get</string>
				</dict>
			</dict>
		</dict>
		<key>Amazon</key>
		<dict>
			<key>OrderRef</key>
			<dict>
				<key>link</key>
				<string>/V1/amazon/order-ref</string>
				<key>method</key>
				<string>delete</string>
			</dict>
			<key>ShippingAddress</key>
			<dict>
				<key>link</key>
				<string>/V1/amazon-shipping-address/{amazonOrderReferenceId}</string>
				<key>method</key>
				<string>put</string>
			</dict>
			<key>BillingAddress</key>
			<dict>
				<key>link</key>
				<string>/V1/amazon-billing-address/{amazonOrderReferenceId}</string>
				<key>method</key>
				<string>put</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
